/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*_______________________________________________________________*/

.main{
	display: flex;
	justify-content: space-around;
	align-content: center;
    height: 85px;
    background-color: black;
}

.text{
    color: grey;
}

.auswahl{
    display: flex;
	align-items: center;
	height: 85px;
	width: 400px;
	justify-content: space-around;
}

.logo{
	align-self: center;
	border-style: solid;
	border-width: 1px;
	height: 40px;
	width: 40px;
}

.info{
	height: 85px;
	width: 280px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-left: 110px;
}

.mercedes{
	position: relative;
}

.image{
	height: 25px;
	width: 25px;
}

.login{
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: gray;
}

.text2{
	margin-left: 5px;
}

.autos{
	width: 100%;
	height: 100%;
}

.overlay1{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1), rgba(255,255,255,0) 50%);
}
.overlay2{ 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 4%, rgba(255,255,255,0) 50%);
}

.text-box{
	position: absolute;
	height: 300px;
	width: 500px;
	margin-left: 110px;
	margin-top: 220px;
}

.t1{
	font-size: 60px;
}

.t2{
	margin-top: 50px;
	font-size: 18px;
}

.box{
	height: 70px;
	margin-top: 80px;
	display: flex;
}

.b1{
	display: flex;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	height: 50px;
	width: 170px;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 18px;
	border-radius: 1px;
}

.b2{
	display: flex;
	background-color: rgb(0, 106, 255);
	height: 50px;
	width: 220px;
	margin-left: 10px;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	color: white;
	font-size: 18px;
	border-radius: 1px;
}

.chat{
	position: fixed;
	height: 60px;
	width: 60px;
	bottom: 0;
    right: 0;
	margin-bottom: 25px;
	margin-right: 25px;
	border-radius: 10px;
}