/* Element Selektor */
div{
    background-color: aquamarine;
}

/* id Selektor */
#header{
    font-size: 2rem;
}

/* Klassenselektor */
.subtitle{
    color: red;
}

#text p{
    background-color: blueviolet;
}
